// body {
//   padding: 32px;
//   margin: 32px;
//   font-family: "Roboto", Arial, sans-serif;
//   font-size: 16px;
// }

.navbar-brand {
  color: #003366 !important;
  font-weight: bold;
}

hr {
  border: 1px solid #000;
}

@media only screen and (max-width: 766px) {
  .headerFilter {
    width: 95vw;
    margin-left: 1.5em !important;
  }
}

@media only screen and (min-width: 766px) {
  .headerFilter {
    width: 33vw;
  }
}

.navbar {
  margin-bottom: 0;
}

.main {
  margin: 1em;
}

.h4Clickable {
  font-size: 18px;
  font-weight: 600;
  color: rgb(5, 19, 54);

}

.rating {
  margin-left: 1em;
  display: inline;
}

.emptyStarStart {
  margin-left: -0.2em;
  display: inline;
}

.restauHeader {
  float: right;
}

#descFilterForm {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
