<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Restaurant Review Frontend</p>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>

<div class="restauReview">
  <div class="container-flid">
    <div class="row">
      <div class="well col-xs-12">
        <div class="">
          <h1>{{restau}}</h1>
          <div class="rating">
            <span *ngFor="let star of emptyRatingArr" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="emptyStarStart">
              <span *ngFor="let star of emptyReverseRatingArr" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
          <p style="display: inline;"> | {{priceMap[price]}} Price </p>
        </div>
        <h5>Address : {{address}}</h5>
        <h5>Phone : {{phone}}</h5>
        <ul>
          <li *ngFor="let hour of hours; let i=index">{{dayNames[i]}} : {{hour}}</li>
        </ul>
        <h6>Description: {{desc}}</h6>
        <hr>
      </div>
    </div>
    <h3>Reviews</h3>
    <div *ngFor="let review of reviews" class="row eachReview">
      <div class="col-xs-12">
        <div class="eachReviewHeader">
          <p style="display: inline;">{{review.reviewer}}</p>
          <div class="rating">
            <span *ngFor="let star of review.emptyRatingArr" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="emptyStarStart">
              <span *ngFor="let star of review.emptyReverseRatingArr" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
          <p style="display: inline;"> |  {{review.date}}</p>
        </div>
        <div class="eachReviewMain">
          <p>{{review.comments}}</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
