<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Restaurant Review Frontend</p>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>

<div class="restauReview">
  <div class="container-fluid">
    <div role="restaurantInfo" class="row">
      <div class="well col-xs-12">
        <div class="">
          <h1 tabindex="0">{{restau}}</h1>
          <div tabindex="0" class="rating" aria-labelledby="star_id">
            <span *ngFor="let star of emptyRatingArr" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="emptyStarStart">
              <span *ngFor="let star of emptyReverseRatingArr" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
          <div id="star_id" class="sr-only">{{rating}} of 5 rating</div>
          <p tabindex="0" style="display: inline;"> | {{priceMap[price]}} Price </p>
        </div>
        <h5 tabindex="0">Address : {{address}}</h5>
        <h5 tabindex="0">Phone : {{phone}}</h5>
        <ul tabindex="0" >
          <li *ngFor="let hour of hours; let i=index">{{dayNames[i]}} : {{hour}}</li>
        </ul>
        <h6 tabindex="0">Description: {{desc}}</h6>
        <button (click)="navigateBack()" class="btn btn-success">Back</button>
        <hr>
      </div>
    </div>
    <div role="reviewInfo">
      <h3 tabindex="0">Reviews</h3>
      <div role="eachReview" *ngFor="let review of reviews" class="row eachReview">
        <div tabindex="0" class="col-xs-12">
          <div role="eachReviewHeader" class="eachReviewHeader">
            <p style="display: inline;">{{review.reviewer}}</p>
            <div class="rating" aria-labelledby="star_id">
              <span *ngFor="let star of review.emptyRatingArr" class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <div class="emptyStarStart">
                <span *ngFor="let star of review.emptyReverseRatingArr" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </div>
            </div>
            <div id="star_id" class="sr-only">{{review.stars}} of 5 rating</div>
            <p style="display: inline;"> |  {{review.date}}</p>
          </div>
          <div role="eachReviewMain" class="eachReviewMain">
            <p>{{review.comments}}</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div role="writeReview" class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="ratingSelect">Rating</label>
            <select id="ratingSelect" #ratingSel>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <div class="form-group">
            <label for="yourName">Name: </label>
            <input id="yourName" type="text" #yourName>
          </div>
          <div class="form-group">
            <label for="reviewWrite" class="sr-only">Please write your review.</label>
            <textarea #reviewContent class="form-control" name="reviewWrite" id="reviewWrite" rows="3" placeholder="Write your review."></textarea>
          </div>
          <div class="form-group">
            <label for="reviewSubmit"></label>
            <button (click)="writeReview(reviewContent.value, ratingSel.value, yourName.value)" type='submit' class="btn btn-primary" id="reviewSubmit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
