<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Restaurant Review Frontend</p>
    </div>
    <ul class="nav navbar-nav">
      <form role="filterText" class="form-inline" id="descFilterForm">
        <div class="form-group">
          <label for="myFilterText">Description filter</label>
          <input id="myFilterText" class="form-control" type="text" #filter (keyup)="0">
        </div>
      </form>
    </ul>
  </div>
</nav>

<!-- filterHeaders -->
<div class="row">
  <!-- Single button -->
  <div role="filterDropdown" class="btn-group" dropdown keyboardNav="true">
    <button type="button" dropdownToggle class="headerFilter btn btn-default btn-lg" >
      {{foodTypesStr}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu headerFilter" role="menu">
      <li role="menuitem" *ngFor="let type of types" (click)="onFilterClick('type', type)"><a class="dropdown-item" href="#">{{type}}</a></li>
      <li role="menuitem" (click)="onFilterClick('type', '')"><a class="dropdown-item" href="#">All food types</a></li>
    </ul>
  </div>
  <!-- Single button -->
  <div role="filterDropdown" class="btn-group" dropdown keyboardNav="true">
    <button type="button" dropdownToggle class="headerFilter btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{priceMap[priceStr]}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu headerFilter" role="menu">
      <li role="menuitem" *ngFor="let price of prices" (click)="onFilterClick('price', price)"><a href="#">{{priceMap[price]}}</a></li>
      <li role="menuitem" (click)="onFilterClick('price', '')"><a href="#">All Prices</a></li>
    </ul>
  </div>
  <!-- Single button -->
  <div role="filterDropdown" class="btn-group" dropdown keyboardNav="true">
    <button type="button" dropdownToggle class="headerFilter btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ratingStr}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu headerFilter" role="menu">
      <li role="menuitem" *ngFor="let rating of ratings" (click)="onFilterClick('rating', rating)"><a href="#">{{rating}}</a></li>
      <li role="menuitem" (click)="onFilterClick('rating', '')"><a href="#">All Ratings</a></li>
    </ul>
  </div>
</div>

<div role="main" class="main">
  <div class="container-fluid">
    <div role="eachRestaurant" *ngFor="let restau of restaurants | descFilter: filter.value | cateFilter: 'type' : nowType | cateFilter: 'price' : nowPrice | cateFilter: 'rating': nowRating" class="col-xs-12 col-sm-12 col-md-6 col-lg-6" tabindex="0">
      <div class="well">
        <div role="eachRestaurantHeader" class="restauHeader">
          <a class="h4Clickable" (click)="navigateTo(restau.name, restau.reviews, $event)" href="#"><u>{{restau.name}}</u></a>
          <div class="rating" aria-labelledby="star_id">
            <span  *ngFor="let star of restau.emptyRatingArr" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="emptyStarStart">
              <span *ngFor="let star of restau.emptyReverseRatingArr" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
          </div>
          <div id="star_id" class="sr-only">{{restau.rating}} of 5 rating</div>
          <div style="display: inline;">
            <span class="sr-only">Price range</span>
            <p style="display: inline;"> | {{priceMap[restau.price]}} Price </p>
          </div>
        </div>
        <br>
        <hr>
        <div class="container-fluid">
          <div role="eachRestaurantMain" class="row">
            <div class="col-xs-6">
              <span class="sr-only">Restaurant description</span>
              <p>{{restau.description}}</p>
            </div>
            <div class="col-xs-6">
              <img [src]="restau.image" alt="{{restau.imgDesc}}" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
